<!DOCTYPE html>
<html>
  <head>
    <title>My Dealer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "navbar navbar-fixed-top navbar-default">
      <div class = "container">
        <%= link_to "My Dealer", "", class: "btn btn-lg btn-success", id: "logo" %>
        <div class="nav_item">
          <%= link_to "link 1", "",class: "btn btn-default btn-warning" %>
        </div>
        <div class="nav_item">
          <%= link_to "link 2", "",class: "btn btn-default btn-warning" %>
        </div>
        <div class="nav_item">
          <%= link_to "link 3", "",class: "btn btn-default btn-warning" %>
        </div>

      </div>
    </header>
    <div class = "container">

      <%= yield %>
  
    <div class ="footer">
      <p>&copy; MyReceipe 2020</p>
  </body>
</html>
